.icons {
	  color: white;
	    display: grid;
	      grid-template-columns: repeat(10, 1fr);
	        grid-gap: 20px;
		  font-size: 40px;
		    padding: 20px;
	    }

	    body {
		      padding: 30px;
	      }
