.navButton {
  position: relative;
  padding: 10px;

  svg {
    font-size: 23px;

    & + * {
      margin-left: 20px;
      margin-right: 15px;
    }
  }

  &:global(.twitter){
    color:var(--c-theme);

    :global(html:not(.light)) & {
      color:white
    }
  }
}

.navButtonSelected {
  color: var(--c-theme);
}

.notify {
  /* min-width: 17px; */
  left: 20px;
  top: 5px;
  height: 17px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 17px;
  display: flex;
  align-items: center;
  position: absolute;
  background-color: var(--c-theme);
  color: var(--c-text-color);
  font-size: 11px;
  border: 1px solid var(--c-primary);
}

/* .navButton > svg {
    color:red;
} */
