.button {
  background-color: var(--c-theme);
  color:white;
  padding-left: 15px;
  padding-right: 15px;
  height: 40px;
  min-width: 40px;
  font-weight: bold;

   &:hover {
    background-color: var(--c-theme);
    color: var(--c-text-color);
  }
}

.bigButton {
  height: 47;
  min-width: 47;
}
