@import url("variables.css");

* {
  padding: 0;
  margin: 0;
  border: 0;
  font: inherit;
}

html {
  font-size: 15px;
}

body {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: var(--c-primary);
  color: var(--c-text-color);
}
