.container{
    padding: 20px;

    
}

.label {
        margin-right: 20px;
        display: inline-flex;
        align-items: center;

        input[type="radio"]{
            font-size: 18px;
            height: 1em;
            width: 1em;
            margin-right: 6px;
        }
    }


